<html ng-app="cluster">
  <head>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="mainCtrl">
    <button ng-click="getPids()">Get Pids</button>
    <div ng-repeat="pid in pids track by $index">
      {{pid.pid}}
    </div>
  </body>
</html>
